body {
  font-family: Arial, sans-serif;
  background-color: #fafafa;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* 메인 화면 스타일 */
.Main {
  text-align: center;
  width: 100%;
  max-width: 400px;
}

.Card {
  background-color: #fff;
  padding: 60px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 5vh;
}

input {
  padding: 10px;
  margin: 10px 0;
  width: 95%;
  border-radius: 5px;
  border: 1px solid #ddd;
}

button {
  padding: 12px 25px;
  margin-top: 10px;
  width: 100%;
  border: none;
  border-radius: 5px;
  background-color: #0095f6;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #007bb5;
}
